#intro {
    min-height: 100vh;
}

#projects {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
}

#about {
    max-width: 900px;
}

#experience {
    max-width: 900px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.section {
    padding: 150px 0 0;
    max-width: 1000px;
    width: 100%;
}

@media screen and (max-width: 480px), screen and (max-height: 700px) {
    .section {
        padding: 50px 0 100px;
    }

    #experience {
        display: block;
    }
}