.navLinkItem {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: large;
}

.navLinkItem:hover {
  color: #eae7dc;
}

.footerLinkImage {
  max-height: 35px;
  filter: invert(100%);
  transition: filter 200ms ease-in-out;
}

.footerLinkImage:hover {
  filter: invert(50%);
}

.footerLinkItem {
  display: block;
  color: white;
  text-align: center;
  padding: 3px 16px 3px 16px;
  text-decoration: none;
  font-size: large;
}

.footerLinkItem:hover {
  color: #eae7dc;
}

.defaultButton {
    background-color: #e85a4f;
}