.about h2 {
  color: #6c6b67;
  line-height: 1.5;
}

.about-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
}

.about-heading::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  background-color: #e6908a;
  width: 300px;
  margin-left: 20px;
}

.about-image-wrapper {
  position: relative;
  max-width: 300px;
  max-height: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.about-image {
  width: 100%;
  max-width: 300px;
  max-height: 400px;
  height: auto;
  border-radius: 5px;
  z-index: 1;
}

.about-image-wrapper:hover {
  background: none;
  outline: 0;
  transition: all 0.25s;
}

.about-image-wrapper::after {
  position: absolute;
  content: "";
  display: block;
  z-index: -1;
  top: 20px;
  left: 20px;
  border: 2px solid #e85a4f;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.about-image-wrapper:hover::after {
  top: 10px;
  left: 10px;
}

.inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  height: auto;
  position: relative;
  z-index: 0;
}

.about-text {
  max-width: 500px;
  width: 100%;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minMax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.skills-list i {
  margin: 0 0 10px 1px;
}

.skills-list-title {
  margin: 0 5px 0;
  color: #6c6b67;
  font-family: "Quicksand", sans-serif;
}

.skills-list-icon {
    color: #e85a4f;
}

.filled {
  color: #e85a4f;
}

.not-filled {
  color: #989898;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fade-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade-up {
  -webkit-animation-name: fade-up;
  animation-name: fade-up;
}

@media screen and (max-width: 480px) {
  .inner {
    display: block;
  }

  .about h2 {
    margin: 0 0 10px;
  }

  .about-image-wrapper {
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
  }
}

@media (hover: hover) and (pointer: fine) {
  .about-image-wrapper:hover {
    background: none;
    outline: 0;
    transition: all 0.25s;
  }

  .about-image-wrapper:hover::after {
    top: 10px;
    left: 10px;
  }
}
