@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: #eae7dc;
  position: relative;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.3;
}

.body-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 150px;
  flex-wrap: wrap;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media screen and (max-width: 1080px) {
  .body-container {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .body-container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .body-container {
    padding: 0 25px;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
  }
}
