.logo-loader {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  animation: logo-loader-animation 1.25s linear infinite;
}

@keyframes logo-loader-animation {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.triangle-loader {
    transform-origin: 50% 65%;
    stroke-dasharray: 17;
	animation: triangle-loader-animation 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}

@keyframes triangle-loader-animation {
    to {
        stroke-dashoffset: 136
    }
}
	
	
@keyframes rotate {
    100% {
		transform: rotate(360deg )
    }
}

