.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navListLinkItem {
  float: left;
}

.linkItem {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.linkItem:hover {
    color: #EAE7DC;
}
